@font-face {
    font-family: "pixel";
    src: url("./PixelLcd7-ywKGe.ttf");
}

body {
    text-align: center;
    font-family: "pixel";
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
    min-block-size: 1000px;
    margin-block: 10px;
}

.playAgain {
    margin-block: 10px;
    font-size: 25px;
}

table {
    cursor: pointer;
    margin-inline: auto;
    margin-block: 20px;
    border: none;
}

td {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.not-exposed {
    line-height: 30px;
    height: 30px;
    width: 30px;
    background-image: linear-gradient(315deg, #b8c6db 0%, #aeafaf 100%);
    opacity: 0;
}

.exposed {
    line-height: 30px;
    height: 30px;
    width: 30px;
    background-image: linear-gradient(315deg, #b8c6db 0%, #aeafaf 100%);
}

.flag {
    background-image: none;
    line-height: 30px;
    height: 30px;
    width: 30px;
    opacity: 1;
}

.clockText {
    min-height: 20px;
    margin-block-end: 10px;
}

.status-text {
    font-size: 50px;
    font-weight: 900;
    height: 100px;
    margin-block-end: 10px;
    line-height: 100px;
}

.help-btn {
    border: none;
    height: 30px;
    border-radius: 20%;
    cursor: pointer;
    font-family: "pixel";
}

.help-btn:hover {
    background-color: lightyellow;
}

.light-on {
    background-color: lightyellow;
}

.modal td {
    width: 200px;
    height: 40px;
    line-height: 20px;
    font-size: 17px;
    font-weight: 200;
    border: solid 1px lightslategrey
}

.button-24 {
    background: #afd1be;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "pixel";
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}